<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="image/currency.ico">
    <link rel="stylesheet" href="../style.css">
    <title>404</title>
</head>

<body>
    <div id="container">
        {{>header}}
        {{>navbar}}
        <p style="text-align: center;">{{message}}</p>
    </div>
</body>

</html>