<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="image/currency.ico">
    <link rel="stylesheet" href="style.css">
    <title>About</title>
</head>

<body>
    <div id="container">
        {{>header}}
        {{>navbar}}
        <p>This web application uses the exchange rates API to convert currencies of major countries. It
            provides options for 33 currencies.</p>
    </div>
</body>

</html>