<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style.css">
    <link rel="icon" href="image/currency.ico">
    <script src="https://kit.fontawesome.com/9faf8e3b7f.js" crossorigin="anonymous"></script>
    <title>Currency Converter</title>
</head>

<body>
    <div id="container">
        {{>header}}
        {{>navbar}}
        <div id="convert-field">
            <div class="input">
                <input id="input-amount" type="number">
            </div>
            <div class="unit">
                <select name="input-unit" id="input-unit">
                    <option value="AUD">Australian Dollar</option>
                    <option value="BRL">Brazilian Real</option>
                    <option value="BGN">Bulgaria Lev</option>
                    <option value="CAD">Canadian Dollar</option>
                    <option value="CNY">Chinese Yuan</option>
                    <option value="EUR">Euro</option>
                    <option value="HRK">Croatian Kuna</option>
                    <option value="CZK">Czech Koruna</option>
                    <option value="DKK">Danish Krone</option>
                    <option value="HKD">Hong Kong Dollar</option>
                    <option value="HUF">Hungarian Forint</option>
                    <option value="ISK">Icelandic Króna</option>
                    <option value="INR">Indian Rupee</option>
                    <option value="IDR">Indonesian Rupiah</option>
                    <option value="ILS">Israeli New Shekel</option>
                    <option value="JPY">Japanese Yen</option>
                    <option value="MYR">Malaysian Ringgit</option>
                    <option value="MXN">Mexican Peso</option>
                    <option value="NZD">New Zealand Dollar</option>
                    <option value="NOK">Norwegian Krone</option>
                    <option value="PHP">Philippine Peso</option>
                    <option value="PLN">Polish Złoty</option>
                    <option value="GBP">Pound Sterling</option>
                    <option value="RON">Romanian Leu</option>
                    <option value="RUB">Russian Ruble</option>
                    <option value="SGD">Singapore Dollar</option>
                    <option value="ZAR">South African Rand</option>
                    <option value="KRW">South Korean Won</option>
                    <option value="SEK">Swedish Krona</option>
                    <option value="CHF">Swiss Franc</option>
                    <option value="THB">Thai Baht</option>
                    <option value="TRY">Turkish Lira</option>
                    <option value="USD">United States Dollar</option>
                </select>
            </div>
            <div class="right-arrow">
                <i class="fas fa-arrow-right"></i>
            </div>
            <div class="down-arrow">
                <i class="fas fa-arrow-down"></i>
            </div>
            <div class="output">
                <input id="output-amount" type="number" readonly>
            </div>
            <div class="unit">
                <label for="output-unit"></label>
                <select name="output-unit" id="output-unit">
                    <option value="AUD">Australian Dollar</option>
                    <option value="BRL">Brazilian Real</option>
                    <option value="BGN">Bulgaria Lev</option>
                    <option value="CAD">Canadian Dollar</option>
                    <option value="CNY">Chinese Yuan</option>
                    <option value="EUR">Euro</option>
                    <option value="HRK">Croatian Kuna</option>
                    <option value="CZK">Czech Koruna</option>
                    <option value="DKK">Danish Krone</option>
                    <option value="HKD">Hong Kong Dollar</option>
                    <option value="HUF">Hungarian Forint</option>
                    <option value="ISK">Icelandic Króna</option>
                    <option value="INR">Indian Rupee</option>
                    <option value="IDR">Indonesian Rupiah</option>
                    <option value="ILS">Israeli New Shekel</option>
                    <option value="JPY">Japanese Yen</option>
                    <option value="MYR">Malaysian Ringgit</option>
                    <option value="MXN">Mexican Peso</option>
                    <option value="NZD">New Zealand Dollar</option>
                    <option value="NOK">Norwegian Krone</option>
                    <option value="PHP">Philippine Peso</option>
                    <option value="PLN">Polish Złoty</option>
                    <option value="GBP">Pound Sterling</option>
                    <option value="RON">Romanian Leu</option>
                    <option value="RUB">Russian Ruble</option>
                    <option value="SGD">Singapore Dollar</option>
                    <option value="ZAR">South African Rand</option>
                    <option value="KRW">South Korean Won</option>
                    <option value="SEK">Swedish Krona</option>
                    <option value="CHF">Swiss Franc</option>
                    <option value="THB">Thai Baht</option>
                    <option value="TRY">Turkish Lira</option>
                    <option value="USD">United States Dollar</option>
                </select>
            </div>
        </div>
        <div class="convert-button">
            <button>Convert</button>
        </div>
    </div>
    <script src="../script.js"></script>
</body>

</html>