* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
}

a {
    color: black;
    text-decoration: none;
}

input::-webkit-inner-spin-button {
    display: none;
}

.right-arrow {
    padding: 5px;
}

.down-arrow {
    display: none;
}

#container {
    margin-top: 40px;
    width: 850px;
}

#title {
    text-align: center;
    font-size: 40px;
    margin: 10px;
}

#navbar {
    background: darkblue;
    display: flex;
    margin-bottom: 25px;
}

#navbar * {
    padding: 5px;
    color: white;
    margin-left: 10px;
    font-size: 25px;
}

#convert-field {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#convert-field input,
#convert-field select {
    height: 40px;
    width: 170px;
    border: solid black 1px;
    border-radius: 5px;
    font-size: 18px;
    margin: 1px;
}

#convert-field select option:click {
    background-color: darkblue;
    color: white;
}

#convert-field .fa-arrow-right {
    padding: 7px;
}

.convert-button {
    text-align: center;
}

.convert-button button {
    font-size: 17px;
    height: 40px;
    width: 80px;
    padding: 10px;
    border: 1px solid black;
    cursor: pointer;
    background: none;
    border-radius: 5px;
}

.convert-button button:hover {
    color: white;
    background: darkblue;
}

@media only screen and (max-width: 750px) {
    #container {
        width: 450px;
    }

    #convert-field {
        flex-direction: column;
        text-align: center;
    }

    .right-arrow {
        display: none;
    }

    .down-arrow {
        display: inline-block;
        padding: 5px;
    }
}
